<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='Images/favicon.ico') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='CSS/main.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='CSS/add_product.css') }}">
    <link rel="stylesheet" href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css">
    <title>Ürün Ekle</title>
</head>
<body>
    <header>
        <div id="ust-serit">
            <a href="{{ url_for('home') }}"><img src="{{ url_for('static', filename='/Images/ExpertShop.png') }}" alt="ExpertShop" height="50px" width="225px"></a>
        </div>
    </header>
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            <div class="flash-messages">
                {% for category, message in messages %}
                    <div class="flash-message {{ category }}"><p>{{ message }}</p></div>
                {% endfor %}
            </div>
        {% endif %}
    {% endwith %}
    <main class="main-gku">
            <form action="{{ url_for('add_product') }}" method="post" enctype="multipart/form-data">
                <div class="wrapper">
                    <h1>Ürün Ekle</h1>
                    <div class="form-group">
                        <input type="text" name="product_name" id="product_name" placeholder="Ürün ismi" required>
                        <textarea name="product_desc" id="product_desc" placeholder="Ürün açıklaması" required></textarea>
                    </div>
                    <div class="form-group">
                        <input type="file" name="product_img" id="product_img" placeholder="Ürün resmi" required>
                        <input type="number" name="product_price" id="product_price" min="10" placeholder="Ürün fiyatı" required>
                    </div>
                    <div>
                        <select name="product_category">
                            <option value="dekorasyon">Ev & Dekorasyon</option>
                            <option value="elektronik">Elektronik</option>
                            <option value="spor">Spor & Outdoor</option>
                            <option value="clothes">Giyim</option>
                            <option value="kitaplar">Kitap & Kırtasiye</option>
                            <option value="kozmetik">Kişisel bakım & Kozmetik</option>
                            <option value="evcilhayvan">Evcil Hayvan Ürünleri</option>
                            <option value="diger">Diğer</option>
                        </select>
                    </div>
                    <button type="submit" id="product_submit">Ürünü ekle</button>
                </div>
            </form>
    </main>

    <footer>
        <div class="footer-top" style="margin-top: 75px;">
            <div class="social-links">
                <p>Bizimle iletişime geçin!</p>
                <a href="mailto:talhaozc.2010@gmail.com" target="_blank"><i class='bx bx-envelope'></i> Mail</a>
                <br>
                <a href="https://www.instagram.com/talha.ozc22" target="_blank"><i class="bx bxl-instagram"></i> Instagram</a>
            </div>
        </div>
        
        <div class="footer-bottom">
            <p>&copy; 2025 ExpertShop. Tüm hakları gizlidir.</p>
        </div>
    </footer>
</body>
</html>
