<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='CSS/main.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='CSS/admin.css') }}">
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='Images/favicon.ico') }}">
    <link rel="stylesheet" href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css">
    <script src="{{ url_for('static', filename='JS/script.js') }}"></script>
    <title>Admin Paneli</title>
</head>
<body>
    <header>
        <div id="ust-serit">
            <a href="{{ url_for('home') }}"><img src="{{ url_for('static', filename='/Images/ExpertShop.png') }}" alt="ExpertShop"></a>
        </div>
    </header>
    <div class="serit"><h1>Admin paneli</h1></div>
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            <div class="flash-messages">
                {% for category, message in messages %}
                    <div class="flash-message {{ category }}"><p>{{ message }}</p></div>
                {% endfor %}
            </div>
        {% endif %}
    {% endwith %}
    <main class="main-gku">
        <!-- Ana içerik -->
        <div id="main-panel">
            <form action="{{ url_for('admin') }}" method="post">
                <select name="action" id="action" onchange="actionSelect()">
                    <option value="banuser">Kullanıcı engelle</option>
                    <option value="deleteproduct">Ürün sil</option>
                    <option value="deletecomment">Yorum sil</option>
                    <option value="giveadminrole">Admin rolü ver</option>
                    <option value="deleteall">Tüm içeriği sil</option>
                </select>
                <input type="number" name="command" id="command" placeholder="User id" min="1">
                <button type="submit">Gönder</button>
            </form>
        </div>
    </main>
    <div class="list" style="margin-top: 30px;">
        <ul>
            <h3>Kullanıcılar</h3>
            {% for user in users %}
                <li><p>{{ user.username }}, {{ user.role }}, {{ user.id }}</p></li>
            {% endfor %}
        </ul>
    </div>
    <div class="list">
        <h3>Ürünler</h3>
        <ul>
            {% if products %}
                {% for product in products %}
                    <li><p><a style="text-decoration: none;" href="{{ url_for('product_detail', product_id= product.id) }}">{{ product.name }}</a>, {{ product.id }}</p></li>
                {% endfor %}
            {% else %}
                <p>Hiç ürün yüklenmedi.</p>
            {% endif %}
        </ul>
    </div>
    <div class="list">
        <h3>Yorumlar</h3>
        <ul>
            {% if comments %}
                {% for comment in comments %}
                    <li><p><a style="text-decoration: none;" href="{{ url_for('product_detail', product_id= comment.product_id) }}">{{ comment.content }}</a>, {{ comment.id }}</p></li>
                {% endfor %}
            {% else %}
                <p>Hiç yorum yapılmadı.</p>
            {% endif %}
        </ul>
    </div>
    <footer>
        <div class="footer-top">
            <div class="social-links">
                <p>Bizimle iletişime geçin!</p>
                <a href="mailto:talhaozc.2010@gmail.com" target="_blank"><i class='bx bx-envelope'></i> Mail</a>
                <br>
                <a href="https://www.instagram.com/talha.ozc22" target="_blank"><i class="bx bxl-instagram"></i> Instagram</a>
                <br>
                <a href="{{ url_for('updates') }}"><i class='bx bxs-megaphone'></i> Güncellemeler</a>
            </div>
        </div>
        
        <div class="footer-bottom">
            <p>&copy; 2025 ExpertShop. Tüm hakları gizlidir.</p>
        </div>
    </footer>
</body>
</html>
