<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ user.username if user else 'ExpertShop' }} - Anasayfa</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='CSS/main.css') }}">
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='Images/favicon.ico') }}">
    <link rel="stylesheet" href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css">
</head>
<body>
    <header>
        <div id="ust-serit">
            <a href="{{ url_for('home') }}"><img src="{{ url_for('static', filename='/Images/ExpertShop.png') }}" alt="ExpertShop"></a>
            <div class="butonlar">
                {% if not user %}
                    <a href="{{ url_for('login') }}"><button class="btn"><i class='bx bx-log-in'></i> Giriş Yap</button></a>
                    <a href="{{ url_for('register') }}"><button class="btn"><i class='bx bxs-user-plus' ></i> Kayıt Ol</button></a>
                {% else %}
                    {% if user.role== "seller" %}
                        <a href="{{ url_for('my_shop') }}"><button class="btn"><i class='bx bxs-shopping-bags'></i> Mağazanız</button></a>
                    {% endif %}
                        <a href="{{ url_for('cart') }}"><button class="btn"><i class="bx bxs-cart"></i> Sepetim</button></a>
                    {% if user.role== "admin" or user.username=="realxt" %}
                        <a href="{{ url_for('admin') }}"><button class="btn"><i class="bx bxs-dashboard"></i> Admin</button></a>
                    {% endif %}
                    <a href="{{ url_for('logout') }}"><button class="btn"   ><i class='bx bx-log-out'></i> Çıkış Yap</button></a>
                <span class="user"><i class='bx bx-user' ></i> {{ user.username }}</span>
                {% endif %}
            </div>
        </div>

        <div class="butonlar-mobil">
            {% if not user %}
                <a href="{{ url_for('login') }}"><button class="btn"><i class='bx bx-log-in'></i> Giriş yap</button></a>
                <a href="{{ url_for('register') }}"><button class="btn"><i class='bx bxs-user-plus'> Üye ol</i></button></a>
            {% else %}
                {% if user.role== "seller" %}
                    <a href="{{ url_for('my_shop') }}"><button class="btn"><i class='bx bxs-shopping-bags'></i> Mağazanız</button></a>
                {% endif %}
                    <a href="{{ url_for('cart') }}"><button class="btn"><i class="bx bxs-cart"></i> Sepetim</button></a>
                {% if user.role== "admin" %}
                    <a href="{{ url_for('admin') }}"><button class="btn"><i class="bx bxs-dashboard"></i> Admin</button></a>
                {% endif %}
                <a href="{{ url_for('logout') }}"><button class="btn"><i class='bx bx-log-out'></i> Çıkış yap</button></a>
            <span class="user"><i class='bx bx-user' ></i> {{ user.username }}</span>
            {% endif %}
        </div>
    </div>
    </header>

    <main>
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                <div class="flash-messages">
                    {% for category, message in messages %}
                        <div class="flash-message {{ category }}"><p>{{ message }}</p></div>
                    {% endfor %}
                </div>
            {% endif %}
        {% endwith %}

        <h1>Anasayfa</h1>
        <div id="search-container">
            <form  id="search-form" action="{{ url_for('search') }}" method="get">
                <input id="search-box" type="search" name="search-box" id="search-box" placeholder="Arama yapın.." required>
                <button type="submit" id="search-btn"><i class="bx bx-search"></i></button>
            </form>            
        </div>

        <div class="categories">
            <a href="{{ url_for('category', category_name= 'elektronik') }}" title="Elektronik"><img class="category-img" src="{{ url_for('static', filename='Images/Website_Images/elektronik.jpg') }}"></a>
            <a href="{{ url_for('category', category_name= 'dekorasyon') }}" title="Ev ve Dekorasyon"><img class="category-img" src="{{ url_for('static', filename='Images/Website_Images/dekorasyon.jpg') }}"></a>
            <a href="{{ url_for('category', category_name= 'spor') }}" title="Spor ve Outdoor"><img class="category-img" src="{{ url_for('static', filename='Images/Website_Images/spor.jpg') }}"></a>
            <a href="{{ url_for('category', category_name= 'giyim') }}" title="Giyim"><img class="category-img" src="{{ url_for('static', filename='Images/Website_Images/giyim.jpg') }}"></a>
            <a href="{{ url_for('category', category_name= 'kitaplar') }}" title="Kitap ve Kırtasiye"><img class="category-img" src="{{ url_for('static', filename='Images/Website_Images/kitaplar.jpg') }}"></a>
            <a href="{{ url_for('category', category_name= 'kozmetik') }}" title="Kişisel Bakım ve Kozmetik"><img class="category-img" src="{{ url_for('static', filename='Images/Website_Images/kozmetik.jpg') }}"></a>
            <a href="{{ url_for('category', category_name= 'evcilhayvan') }}" title="Evcil Hayvan Ürünleri"><img class="category-img" src="{{ url_for('static', filename='Images/Website_Images/pets.jpg') }}"></a>
        </div>
        
            <h2>Ürünler</h2>
            <div class="product-container">
                {% if products %}
                    {% for product in products %}
                        <div class="product-card">
                            <img height="75px" src="{{ url_for('static', filename='uploads/' + product.image) }}" alt="{{ product.productname }}">
                            <h3>{{ product.name }}</h3>
                            <p class="price" style="color: #760000;">{{ product.price }} ₺</p>
                            <a href="{{ url_for('product_detail', product_id= product.id) }}"><button class="btn">Detayları gör</button></a>
                        </div>
                    {% endfor %}
                {% else %}
                    <p>Henüz hiçbir kullanıcı ürün yüklemedi.</p>
                {% endif %}
            </div>
    </main>
    
    <footer>
        <div class="footer-top">
            <div class="social-links">
                <p>Bizimle iletişime geçin!</p>
                <a href="mailto:talhaozc.2010@gmail.com" target="_blank"><i class='bx bx-envelope'></i> Mail</a>
                <br>
                <a href="https://www.instagram.com/talha.ozc22" target="_blank"><i class="bx bxl-instagram"></i> Instagram</a>
            </div>
        </div>
        
        <div class="footer-bottom">
            <p>&copy; 2025 ExpertShop. Tüm hakları gizlidir.</p>
        </div>
    </footer>
</body>
</html>
